<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/simpleNav'); %>

    <div class="container">
        <h1 class="my-5">Editar loja <b>
                <%= store.name %>
            </b></h1>
        <form id="storeForm" action="#" method="POST" class="mb-5" onsubmit="submitForm(event)">
            <div class="mb-3">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" id="name" name="name" class="form-control" required value="<%= store.name %>">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Morada:</label>
                <input type="text" id="address" name="address" class="form-control"
                    value="<%= store.address %>" required>
            </div>


            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-danger" onclick="location.href='/stores'">Voltar</button>
                <button type="submit" class="btn btn-success">Alterar loja</button>
            </div>
        </form>
    </div>


    <script>
        // Função para lidar com a submissão do formulário
        function submitForm(event) {
            event.preventDefault(); // Evitar o comportamento padrão de enviar o formulário
            var token = `<%= token %>`

            // Dados do formulário
            const name = document.getElementById('name').value;
            const address = document.getElementById('address').value;


            // Formulário de dados formatados
            const formData = {
                name: name,
                address: address
            };

            // Faça a requisição para o endpoint desejado
            fetch(`http://localhost:5000/api/stores/<%=store._id%>`, {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json',
                    'x-access-token': token
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw Error('Ocorreu um erro ao alterar a loja.' + response);
                    }

                    // Redirect to the entitites list page
                    window.location.href = '/stores?edit=true';
                })
                .catch(error => {
                    console.error(error);
                    alert('Ocorreu um erro ao alterar a loja.' + error);
                });
        }
    </script>
</body>

</html>